
.chaptersInterface {
	width: 100%;
    background-color: #eaeaea;
    font-family: Poppins, sans-serif;
}

#chaptersContainer {
	height: 300px;
	font-family: Poppins, sans-serif;
	letter-spacing: 1px;
}

.chaptersHeader {
	display: block;
    color: #242424;
    background: #e1e1e1;
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
}

.chaptersList {
	display: block;
	overflow: auto;
	font-size: 16px;
	font-weight: 500;
}

.chapterLink {
	display: flex;
	flex-flow: row wrap;
	margin: 5px;
	
}

.chapterItem {
	
	padding: 10px;
}

.chapterTime {
	text-align: center;
	flex-basis: 75px;
	color: white;
	background-color: #B2334E;
}

.chapterTitle {
	flex: 1;
	color: black;
	background-color: #e1e1e1;
}