.chaptersInterface {
	width: 100%;
    background-color: #FFFFFF;
    font-family: Verdana, sans-serif;
    overflow: auto;
    letter-spacing: .5px;    
}

#chaptersContainer {	
	letter-spacing: .5px;	
}

.chaptersHeader {	
	display: block;
    color: #242424;
    background: #E1E1E1;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    margin: auto;
}

.chaptersList {
	overflow: auto;
	font-size: 14px;
}

.chapterLink {
	display: flex;
	flex-flow: row wrap;
	margin: 5px;	
}

.chapterItem {	
	padding: 10px;
	font-weight: bolder;
}

.chapterTime {
	text-align: center;
	flex-basis: 75px;
	color: white;
	background-color: #B2334E;
}

.chapterTitle {
	flex: 1;
	color: black;
	background-color: #F3F3F3;
}