/* Regular */
@font-face {
font-family: 'Oracle Sans';
src: url('https://longingforhome.github.io/kaltura/fonts/OracleSans_Rg.ttf') format('true-type');
font-weight: normal;
}
/* Semi Bold */
@font-face {
font-family: 'Oracle Sans';
src: url('https://longingforhome.github.io/kaltura/fonts/OracleSans_Bd.ttf') format('true-type');
font-weight: 700;
}
/* Extra Bold */
@font-face {
font-family: 'Oracle Sans';
src: url('https://longingforhome.github.io/kaltura/fonts/OracleSans_SBd.ttf') format('true-type');
font-weight: 800;
}
