.playkit-spinner-container {
    background-image: url("https://longingforhome.github.io/kaltura/playerPlugins/clemson-styles/clemson100.png");
}
.playkit-spinner:nth-child(odd) {
    background-color: #F56600;
}
.playkit-spinner:nth-child(even) {
    background-color: #522D80;
}