div.playkit-spinner {
    display: none; /* hide the entire spanner div and children spans */
}

div.playkit-spinner-container {
    background-image: url(https://cfvod.kaltura.com/p/5954112/sp/595411200/raw/entry_id/1_9gndt3hm/version/100001); /* change this url to whatever hosted image you want to use.  in this example, we have a 256x256 px GIF */
    background-repeat: no-repeat;
    background-position: center;
}  