div.playkit-subtitles {
	top: 0 !important;
	transform: translateY(-50px) !important;
	-webkit-transform: translateY(-50px) !important;
}

div.playkit-bottom-bar {
    position: relative !important;
    opacity: 1 !important;
    padding: 0 16px 4px !important;
}