div.playkit-spinner > span {
    background-color: white !important; /* can change to whatever hex/rgb value you want for the color of the dots */
}

div.playkit-spinner-container {
    background-image: url(https://cfvod.kaltura.com/p/5954112/sp/595411200/raw/entry_id/1_ysx0ezhr/version/100001); /* change this url to whatever hosted image you want to use.  recommended dimensions of 64x64 */
    background-repeat: no-repeat;
    background-position: center;
}    

