.playkit-subtitles > div > div {
	white-space: nowrap !important;
}
.playkit-subtitles > div > div > div {
	opacity: 0;
	animation: subtitleIn 0s linear 1000ms forwards;
}
@keyframes subtitleIn {
  to { opacity: 1; }
}

